{% extends "expiration_list/base.html" %}

{% block content %}
    <header>
        <h1>Reduce food waste with the insight of Jinsight.</h1>
        <p>
            By keeping track of all groceries and refrigerated cooked food, you will no longer <br>
            have to worry about opening your fridge to expired cucumbers, or rock-hard, dry rice.
        </p>
        {% for list in user.expirationlist.all %}
            <p><a href="/{{ list.id }}">{{ list.name }}</a></p>
        {% endfor %}
    </header>
{% endblock %}