{% extends 'expiration_list/base.html' %}

{% block content %}
	<h1 id="list_view">{{ls.name}}</h1>
    <form method="post" action="#">
    {% csrf_token %}
        <ul>
            <table style="width:100%">
                <tr>
                    <th>Item Name</th>
                    <th>Condition</th>
                    <th>Date Bought</th>
                    <th>Date Expired</th>
                    <th>Days Left</th>
                    <th></th>
                </tr>
                {% for item in ls.item_set.all %}
                    <tr>
                        <td><b style="color: #333333">{{ item.text }}</b></td>
                        {% if item.good == "True" %}
                            <td><b style="color: green">Good</b></td>
                        {% else %}
                            <td><b style="color: darkred">Expired</b></td>
                        {% endif %}
                        <td><b>{{ item.date_bought|date:'F d, Y' }}</b></td>
                        <td><b>{{ item.date_expired|date:'F d, Y' }}</b></td>
                        <td><b>{{ item.days_left }}</b></td>
                        <td><button onclick="location.href='/{{ ls.id }}/{{ item.id }}/'" type="button">Delete Item</button></td>
                    </tr>
                {% endfor %}
            </table>

        </ul>
        <br>
        <h2>Add New Item</h2>
        <p><b>Item Name</b></p>
        <input type="text" name="new">
        <br>
        <p><b>Expiration</b></p>
        <input type="date" name="date">
        <br><br>
        <button type="submit" name="newItem" value="newItem">Add Item</button>
    </form>
{% endblock %}