{% extends "expiration_list/base.html" %}

{% block content %}
    <header>
        <h1>Create an Account</h1>

        <form method="POST" class="form-group">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <br>

                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}

            <br><br>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </header>
{% endblock %}